@font-face {
    font-family: 'DIN Next LT Pro';
    src: url('DINNextLTPro-BoldCondensed.eot');
    src: url('DINNextLTPro-BoldCondensed.eot?#iefix') format('embedded-opentype'),
        url('DINNextLTPro-BoldCondensed.woff2') format('woff2'),
        url('DINNextLTPro-BoldCondensed.woff') format('woff'),
        url('DINNextLTPro-BoldCondensed.ttf') format('truetype'),
        url('DINNextLTPro-BoldCondensed.svg#DINNextLTPro-BoldCondensed') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'DIN Next LT Pro';
    src: url('DINNextLTPro-BoldCondensed_1.eot');
    src: url('DINNextLTPro-BoldCondensed_1.eot?#iefix') format('embedded-opentype'),
        url('DINNextLTPro-BoldCondensed_1.woff2') format('woff2'),
        url('DINNextLTPro-BoldCondensed_1.woff') format('woff'),
        url('DINNextLTPro-BoldCondensed_1.ttf') format('truetype'),
        url('DINNextLTPro-BoldCondensed_1.svg#DINNextLTPro-BoldCondensed') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'DIN Next LT Pro Bold Condensed';
    src: url('DINNextLTPro-BoldCondensed_2.eot');
    src: url('DINNextLTPro-BoldCondensed_2.eot?#iefix') format('embedded-opentype'),
        url('DINNextLTPro-BoldCondensed_2.woff2') format('woff2'),
        url('DINNextLTPro-BoldCondensed_2.woff') format('woff'),
        url('DINNextLTPro-BoldCondensed_2.ttf') format('truetype'),
        url('DINNextLTPro-BoldCondensed_2.svg#DINNextLTPro-BoldCondensed') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'DIN Next LT Pro';
    src: url('DINNextLTPro-BoldCondensed_3.eot');
    src: url('DINNextLTPro-BoldCondensed_3.eot?#iefix') format('embedded-opentype'),
        url('DINNextLTPro-BoldCondensed_3.woff2') format('woff2'),
        url('DINNextLTPro-BoldCondensed_3.woff') format('woff'),
        url('DINNextLTPro-BoldCondensed_3.ttf') format('truetype'),
        url('DINNextLTPro-BoldCondensed_3.svg#DINNextLTPro-BoldCondensed') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'DIN Next LT Pro Bold Condensed';
    src: url('DINNextLTPro-BoldCondensed_4.eot');
    src: url('DINNextLTPro-BoldCondensed_4.eot?#iefix') format('embedded-opentype'),
        url('DINNextLTPro-BoldCondensed_4.woff2') format('woff2'),
        url('DINNextLTPro-BoldCondensed_4.woff') format('woff'),
        url('DINNextLTPro-BoldCondensed_4.ttf') format('truetype'),
        url('DINNextLTPro-BoldCondensed_4.svg#DINNextLTPro-BoldCondensed') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'DIN Next LT Pro';
    src: url('DINNextLTPro-Light.eot');
    src: url('DINNextLTPro-Light.eot?#iefix') format('embedded-opentype'),
        url('DINNextLTPro-Light.woff2') format('woff2'),
        url('DINNextLTPro-Light.woff') format('woff'),
        url('DINNextLTPro-Light.ttf') format('truetype'),
        url('DINNextLTPro-Light.svg#DINNextLTPro-Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'DIN Next LT Pro';
    src: url('DINNextLTPro-Light_1.eot');
    src: url('DINNextLTPro-Light_1.eot?#iefix') format('embedded-opentype'),
        url('DINNextLTPro-Light_1.woff2') format('woff2'),
        url('DINNextLTPro-Light_1.woff') format('woff'),
        url('DINNextLTPro-Light_1.ttf') format('truetype'),
        url('DINNextLTPro-Light_1.svg#DINNextLTPro-Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'DIN Next LT Pro';
    src: url('DINNextLTPro-Medium.eot');
    src: url('DINNextLTPro-Medium.eot?#iefix') format('embedded-opentype'),
        url('DINNextLTPro-Medium.woff2') format('woff2'),
        url('DINNextLTPro-Medium.woff') format('woff'),
        url('DINNextLTPro-Medium.ttf') format('truetype'),
        url('DINNextLTPro-Medium.svg#DINNextLTPro-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'DIN Next LT Pro';
    src: url('DINNextLTPro-Light_2.eot');
    src: url('DINNextLTPro-Light_2.eot?#iefix') format('embedded-opentype'),
        url('DINNextLTPro-Light_2.woff2') format('woff2'),
        url('DINNextLTPro-Light_2.woff') format('woff'),
        url('DINNextLTPro-Light_2.ttf') format('truetype'),
        url('DINNextLTPro-Light_2.svg#DINNextLTPro-Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'DIN Next LT Pro';
    src: url('DINNextLTPro-Light_3.eot');
    src: url('DINNextLTPro-Light_3.eot?#iefix') format('embedded-opentype'),
        url('DINNextLTPro-Light_3.woff2') format('woff2'),
        url('DINNextLTPro-Light_3.woff') format('woff'),
        url('DINNextLTPro-Light_3.ttf') format('truetype'),
        url('DINNextLTPro-Light_3.svg#DINNextLTPro-Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'DIN Next LT Pro';
    src: url('DINNextLTPro-Light_4.eot');
    src: url('DINNextLTPro-Light_4.eot?#iefix') format('embedded-opentype'),
        url('DINNextLTPro-Light_4.woff2') format('woff2'),
        url('DINNextLTPro-Light_4.woff') format('woff'),
        url('DINNextLTPro-Light_4.ttf') format('truetype'),
        url('DINNextLTPro-Light_4.svg#DINNextLTPro-Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'DIN 30640 Std';
    src: url('DINNeuzeitGroteskStd-Light.eot');
    src: url('DINNeuzeitGroteskStd-Light.eot?#iefix') format('embedded-opentype'),
        url('DINNeuzeitGroteskStd-Light.woff2') format('woff2'),
        url('DINNeuzeitGroteskStd-Light.woff') format('woff'),
        url('DINNeuzeitGroteskStd-Light.ttf') format('truetype'),
        url('DINNeuzeitGroteskStd-Light.svg#DINNeuzeitGroteskStd-Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'DIN Next LT Pro';
    src: url('DINNextLTPro-Medium_1.eot');
    src: url('DINNextLTPro-Medium_1.eot?#iefix') format('embedded-opentype'),
        url('DINNextLTPro-Medium_1.woff2') format('woff2'),
        url('DINNextLTPro-Medium_1.woff') format('woff'),
        url('DINNextLTPro-Medium_1.ttf') format('truetype'),
        url('DINNextLTPro-Medium_1.svg#DINNextLTPro-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'DIN 30640 Std';
    src: url('DINNeuzeitGroteskStd-Light_1.eot');
    src: url('DINNeuzeitGroteskStd-Light_1.eot?#iefix') format('embedded-opentype'),
        url('DINNeuzeitGroteskStd-Light_1.woff2') format('woff2'),
        url('DINNeuzeitGroteskStd-Light_1.woff') format('woff'),
        url('DINNeuzeitGroteskStd-Light_1.ttf') format('truetype'),
        url('DINNeuzeitGroteskStd-Light_1.svg#DINNeuzeitGroteskStd-Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'DIN Next LT Pro';
    src: url('DINNextLTPro-Medium_2.eot');
    src: url('DINNextLTPro-Medium_2.eot?#iefix') format('embedded-opentype'),
        url('DINNextLTPro-Medium_2.woff2') format('woff2'),
        url('DINNextLTPro-Medium_2.woff') format('woff'),
        url('DINNextLTPro-Medium_2.ttf') format('truetype'),
        url('DINNextLTPro-Medium_2.svg#DINNextLTPro-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'DIN Next LT Pro';
    src: url('DINNextLTPro-Medium_3.eot');
    src: url('DINNextLTPro-Medium_3.eot?#iefix') format('embedded-opentype'),
        url('DINNextLTPro-Medium_3.woff2') format('woff2'),
        url('DINNextLTPro-Medium_3.woff') format('woff'),
        url('DINNextLTPro-Medium_3.ttf') format('truetype'),
        url('DINNextLTPro-Medium_3.svg#DINNextLTPro-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'DIN 30640 Std';
    src: url('DINNeuzeitGroteskStd-Light_2.eot');
    src: url('DINNeuzeitGroteskStd-Light_2.eot?#iefix') format('embedded-opentype'),
        url('DINNeuzeitGroteskStd-Light_2.woff2') format('woff2'),
        url('DINNeuzeitGroteskStd-Light_2.woff') format('woff'),
        url('DINNeuzeitGroteskStd-Light_2.ttf') format('truetype'),
        url('DINNeuzeitGroteskStd-Light_2.svg#DINNeuzeitGroteskStd-Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'DIN Neuzeit Grotesk Std';
    src: url('DINNeuzeitGroteskStd-Light_3.eot');
    src: url('DINNeuzeitGroteskStd-Light_3.eot?#iefix') format('embedded-opentype'),
        url('DINNeuzeitGroteskStd-Light_3.woff2') format('woff2'),
        url('DINNeuzeitGroteskStd-Light_3.woff') format('woff'),
        url('DINNeuzeitGroteskStd-Light_3.ttf') format('truetype'),
        url('DINNeuzeitGroteskStd-Light_3.svg#DINNeuzeitGroteskStd-Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'DIN Neuzeit Grotesk Std';
    src: url('DINNeuzeitGroteskStd-Light_4.eot');
    src: url('DINNeuzeitGroteskStd-Light_4.eot?#iefix') format('embedded-opentype'),
        url('DINNeuzeitGroteskStd-Light_4.woff2') format('woff2'),
        url('DINNeuzeitGroteskStd-Light_4.woff') format('woff'),
        url('DINNeuzeitGroteskStd-Light_4.ttf') format('truetype'),
        url('DINNeuzeitGroteskStd-Light_4.svg#DINNeuzeitGroteskStd-Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'DIN Next LT Pro';
    src: url('DINNextLTPro-Medium_4.eot');
    src: url('DINNextLTPro-Medium_4.eot?#iefix') format('embedded-opentype'),
        url('DINNextLTPro-Medium_4.woff2') format('woff2'),
        url('DINNextLTPro-Medium_4.woff') format('woff'),
        url('DINNextLTPro-Medium_4.ttf') format('truetype'),
        url('DINNextLTPro-Medium_4.svg#DINNextLTPro-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('Montserrat-Regular.eot');
    src: url('Montserrat-Regular.eot?#iefix') format('embedded-opentype'),
        url('Montserrat-Regular.woff2') format('woff2'),
        url('Montserrat-Regular.woff') format('woff'),
        url('Montserrat-Regular.ttf') format('truetype'),
        url('Montserrat-Regular.svg#Montserrat-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('Montserrat-Regular_1.eot');
    src: url('Montserrat-Regular_1.eot?#iefix') format('embedded-opentype'),
        url('Montserrat-Regular_1.woff2') format('woff2'),
        url('Montserrat-Regular_1.woff') format('woff'),
        url('Montserrat-Regular_1.ttf') format('truetype'),
        url('Montserrat-Regular_1.svg#Montserrat-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('Montserrat-Regular_2.eot');
    src: url('Montserrat-Regular_2.eot?#iefix') format('embedded-opentype'),
        url('Montserrat-Regular_2.woff2') format('woff2'),
        url('Montserrat-Regular_2.woff') format('woff'),
        url('Montserrat-Regular_2.ttf') format('truetype'),
        url('Montserrat-Regular_2.svg#Montserrat-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('Montserrat-Regular_3.eot');
    src: url('Montserrat-Regular_3.eot?#iefix') format('embedded-opentype'),
        url('Montserrat-Regular_3.woff2') format('woff2'),
        url('Montserrat-Regular_3.woff') format('woff'),
        url('Montserrat-Regular_3.ttf') format('truetype'),
        url('Montserrat-Regular_3.svg#Montserrat-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('Montserrat-SemiBold.eot');
    src: url('Montserrat-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('Montserrat-SemiBold.woff2') format('woff2'),
        url('Montserrat-SemiBold.woff') format('woff'),
        url('Montserrat-SemiBold.ttf') format('truetype'),
        url('Montserrat-SemiBold.svg#Montserrat-SemiBold') format('svg');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('Montserrat-Regular_4.eot');
    src: url('Montserrat-Regular_4.eot?#iefix') format('embedded-opentype'),
        url('Montserrat-Regular_4.woff2') format('woff2'),
        url('Montserrat-Regular_4.woff') format('woff'),
        url('Montserrat-Regular_4.ttf') format('truetype'),
        url('Montserrat-Regular_4.svg#Montserrat-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('Montserrat-SemiBold_1.eot');
    src: url('Montserrat-SemiBold_1.eot?#iefix') format('embedded-opentype'),
        url('Montserrat-SemiBold_1.woff2') format('woff2'),
        url('Montserrat-SemiBold_1.woff') format('woff'),
        url('Montserrat-SemiBold_1.ttf') format('truetype'),
        url('Montserrat-SemiBold_1.svg#Montserrat-SemiBold') format('svg');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('Montserrat-SemiBold_2.eot');
    src: url('Montserrat-SemiBold_2.eot?#iefix') format('embedded-opentype'),
        url('Montserrat-SemiBold_2.woff2') format('woff2'),
        url('Montserrat-SemiBold_2.woff') format('woff'),
        url('Montserrat-SemiBold_2.ttf') format('truetype'),
        url('Montserrat-SemiBold_2.svg#Montserrat-SemiBold') format('svg');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('Montserrat-SemiBold_3.eot');
    src: url('Montserrat-SemiBold_3.eot?#iefix') format('embedded-opentype'),
        url('Montserrat-SemiBold_3.woff2') format('woff2'),
        url('Montserrat-SemiBold_3.woff') format('woff'),
        url('Montserrat-SemiBold_3.ttf') format('truetype'),
        url('Montserrat-SemiBold_3.svg#Montserrat-SemiBold') format('svg');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('Montserrat-SemiBold_4.eot');
    src: url('Montserrat-SemiBold_4.eot?#iefix') format('embedded-opentype'),
        url('Montserrat-SemiBold_4.woff2') format('woff2'),
        url('Montserrat-SemiBold_4.woff') format('woff'),
        url('Montserrat-SemiBold_4.ttf') format('truetype'),
        url('Montserrat-SemiBold_4.svg#Montserrat-SemiBold') format('svg');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

